@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.bike-form-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.bike-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 15px;
}

.bike-input {
  align-self: stretch;
  padding: 10px 15px;
  border: 2px solid #eaeaea;
  border-radius: 24px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.bike-input::placeholder {
  font-family: 'Open Sans', sans-serif;
  color: #9d9d9d;
}

.bike-input:focus {
  outline: none;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.add-bike-btn {
  border: none;
  display: flex;
  justify-content: center;
  padding: 0 0;
}

.add-bike-btn:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .bike-form-cont {
    justify-content: center;
    height: 90%;
    gap: 30px;
    padding: 3% 3% 0 3%;
  }

  .bike-form {
    width: 60%;
    gap: 20px;
  }

  .bike-input {
    font-size: 1.2rem;
  }

  .add-bike-btn {
    font-size: 1.1rem;
  }
}
