@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

* {
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.res-container {
  height: 100vh;
  margin: 5% 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.res-container h1 {
  font-weight: 800;
  font-size: large;
  text-align: center;
}

.card {
  width: 60%;
  height: 150px;
  border: 0.5px solid rgb(185, 182, 182);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.bike-cont {
  height: 104px;
  width: 140px;
  display: flex;
}

.bike-photo {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.bike-info {
  display: flex;
  flex-direction: column;
}

.bike-info h2 {
  margin: 4px 0;
}

.delete-btn {
  margin: 6px 0;
  background-color: rgb(151, 191, 1);
  color: white;
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  border-radius: 10px;
  border: none;
  width: auto;
  transition-duration: 0.4s;
}

.delete-btn:hover {
  background-color: #df4759;
  cursor: pointer;
}

.title {
  margin: 15px 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.res-title {
  text-align: center;
}

.no-reservations {
  text-align: center;
  margin: 30px 0;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .res-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 3%;
    margin: 0;
  }

  .card {
    width: 90%;
    height: auto;
    border: 0.5px solid rgb(185, 182, 182);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 0;
  }

  .bike-cont {
    height: 100px;
    width: 120px;
  }

  .bike-photo {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
  }

  .bike-info {
    display: flex;
    flex-direction: column;
  }

  .bike-info h2 {
    margin: 4px 0;
  }
}
