@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.mobile-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  padding: 0 3%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}

.brand {
  font-size: 2.5rem;
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  color: #333;
}

.size-menu-btn {
  width: 40px;
  height: 40px;
}

.mobile-cont {
  position: fixed;
  top: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5%;
  width: 100%;
  height: 88vh;
  background-color: #fff;
  transition: 0.5s;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.show-nav {
  right: 0%;
}

.hide-nav {
  right: 100%;
}

.link {
  color: #333;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.link.active {
  text-decoration: underline;
}

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.social-item:hover {
  cursor: pointer;
}

.social-icon {
  width: 24px;
  height: 24px;
}

.desktop-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 17%;
    height: 100vh;
    padding: 3vh 0;
    border-right: 1px solid #eaeaea;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    background-color: #fff;
  }

  .brand {
    text-align: center;
  }

  .mobile-nav {
    margin-left: 7%;
    gap: 0;
  }

  .link {
    padding: 1rem 1rem;
    font-size: 1rem;
  }

  .link:hover {
    background-color: #8eaf1a;
    color: white;
  }

  .logout:hover {
    background-color: #ffaa30;
  }

  .link.active {
    color: #fff;
    background-color: #8eaf1a;
    text-decoration: none;
  }

  .footer-menu {
    gap: 8px;
  }
}
